body {
    background: #fff;
    /* font-size: 1.25rem; */
  }
 
  
  .form-control:focus {
    box-shadow: none;
    border-color: #12C6B2;
  }
  
  .profile-button {
    background: #12C6B2;
    box-shadow: none;
    border: 1px solid  #12C6B2;
    margin-right: 5px;
  }
  .profile-button-cancel {
    background: #fff;
    color: #12C6B2;
    box-shadow: none;
    border: 1px solid  #12C6B2;
    margin-right: 5px;
  }
  
  .profile-button,.profile-button-cancel:hover {
    background: #12C6B2;
  }
  
  .profile-button:focus {
    background: #12C6B2;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: #12C6B2;
    box-shadow: none;
  }
  
  .back:hover {
    color: #12C6B2;
    cursor: pointer;
  }
  
  .labels {
    font-size: 11px;
  }
  
  .add-experience:hover {
    background: #12C6B2;
    color: #fff;
    cursor: pointer;
    border: solid 1px #12C6B2;
  }
  /* .form-check-input{
    width: 30px;
    margin-right: 5px;
  } */
  span img{
    width: 15px;
  }
  